{% extends 'main/header_menu.html' %}



{% block content %}

<div class="slidedeck">

<div id="slideheaders">
<h1><a href="{% url index %}">&laquo;</a> {{ slidedeck.title }}</h1>
{% if slidedeck.pdf %}
{% with slidedeck.getSlides as slides %}
<div class="pdflink"><a href="{{ slidedeck.pdf.url }}"><img src="{{ slides.0.imgThumbUrl }}" alt="first slide" /><br />(pdf)</a></div>
{% endwith %}
{% endif %}
<h2>{{ slidedeck.presenter|safe }}</h2>
<p class="abstract">{{ slidedeck.abstract|safe }}</p>
</div>


{% if slidedeck.pdf %}

{% with slidedeck.getSlides as slides %}

<div class="lighttable">
<li>

{% for slide in slides %}
<div class="slide">
<img src="{{ slide.imgUrl }}" alt="Slide: {{ slide.text }}" />
</div>
{% endfor %}

<div class="clearboth"></div>

</li>
</div>

{% endwith %}

{% else %}
<p>No pdf found</p>
{% endif %}


</div>


{% endblock %}
