/* @override http://yosinski.com/mlss12/media/all.css */

/*******************
* First, a reset
********************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles!
:focus {
    outline: 0;
}*/
body {
    line-height: 1;
    color: black;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}



/*******************
* Global
********************/

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #cfc;
}
a {
    color: #5a5;
    text-decoration: none;
    border-bottom: 1px dotted;
}
a:hover {
    border-bottom: 1px solid;
}

#debug {
	font-size: 75%;
	text-align: center;
	padding: 5px;
	margin: 5px;
	background: #fcc;
	border: 1px solid #966;
	position: fixed;
	bottom: 0;
	left: 0;
}
#debug a {
	color: inherit;
	text-decoration: underline;
	border: none;
}
strong {
	font-weight: bold;
}
.clearboth {
	clear: both;
}
h1 {
	font-size: 40px;
    margin-bottom: 5px;
}
h1 a {
	border-bottom: none !important;
}
acronym {
	border-bottom: 1px dotted;
}


/*******************
* Header/Menu
********************/

#header {
	background: #5a5;
    font-family: "Verdana", "Helvetica", "Tahoma", sans-serif;
}

#footer {
    font-family: "Verdana", "Helvetica", "Tahoma", sans-serif;
	background: #cfc;
	text-align: center;
	min-height: 80px;
	box-shadow: 0px -5px 8px 0px rgba(0,0,0,.5);
	margin-top: 20px;
	padding: 10px;
}
#footer p {
	line-height: 1.4;
	font-size: 80%;
}

/*******************
* Content
********************/

#container {
	background: #444 url('texture-gray.png');
}
#slideheaders {
	background: rgba(0,123,34,1);
	background: rgba(255,255,204,1);
	background: #cfc;
	padding: 5px 20px;
    color: #ffc;
    color: black;
	box-shadow: 0px 5px 8px 0px rgba(0,0,0,.5);
	margin-bottom: 10px;
}
#slideheaders h1 {
	color: black;
}
#slideheaders h1 a {
	color: black;
}
p.about {
	float: right;
}

/*******************
* Slides
********************/

div.lighttable {
	padding: 0 10px;
}
div.slide {
	display: inline-block;
	position: relative;
	width: 300px;
	margin: 7px;
	box-shadow: 2px 5px 8px 0px rgba(0,0,0,.5);
}
div.slide.selected {
	box-shadow: 2px 5px 8px 0px rgba(120,172,216,1);
}
div.slide img {
	width: 100%;
}

div.lighttable div.slide div.number {
	display: none;
}
div.lighttable.showSlideNumbers div.slide div.number {
	display: inherit;
}
div.slide div.number {
	position: absolute;
	bottom: 0;
	right: 0;
}
div.slide div.number p {
	color: rgba(128, 128, 128, .75);
	font-size: 20px;
	margin: 0 2px 3px 0;
}

div.lighttable div.slide div.text {
	color: rgba(0,0,0,0);
	font-size: 14px;
}
div.lighttable.showTextOverlay div.slide div.text {	color: rgba(0,0,0,1);
	background: rgba(255,255,200,.75);
}
div.slide div.text {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	height: 100%;
}
div.slide div.text p {
	margin: 5px;
}
div.slide div.text p::selection {
	color: rgba(0,0,0,1);
	background: yellow;
}
div.slide div.text p::-moz-selection {
	color: rgba(0,0,0,1);
	background: yellow;
}


div.pdflink a {
	float: right;
	border: 1px dotted #ffc;
	padding: 10px;
	width: 100px;
	text-align: center;
}
div.pdflink a:hover {
	background: rgba(255,255,204,.5);
}
div.pdflink sdfa:hover {
	background: rgba(255,255,204,.5);
	background: rgba(255,255,204,1);
	color: rgba(0,123,34,1);
}
div.pdflink img {
	width: 80px;
	margin-bottom: 5px;
	box-shadow: 2px 5px 8px 0px rgba(0,0,0,.5);
}
div#sizeSlider {
	z-index: 1;
	position: fixed;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,.6);
	padding: 8px;
	font-size: 15px;
	color: white;
}
div#sizeSlider p {
	float: left;
	margin-right: 1em;
}
div#sizeSlider div.slider {
	float: left;
	width: 300px;
	position: relative;
	top: .3em;
}
#sizeSlider .ui-slider .ui-slider-handle {
	width: 1.0em;
	height: 1.4em;
	top: -.55em;
}
#sizeSlider .ui-slider.ui-slider-horizontal {
	height: .5em;
}
























