{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="en-us" />
        <title>{% block title %}MLSS 2012 Kyoto Slides - yosinski.com{% endblock %}</title>
        <link rel="stylesheet" type="text/css" media="screen" href="{% static "all.css" %}" />
        <link rel="shortcut icon" href="{% static "favicon.ico" %}" />

        <script type="text/javascript" src="{% static "jquery.min.js" %}"></script>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

        {% block extrahead %}{% endblock %}
    </head>
    <!--[if !IE]>--><body class="W3C"><!--<![endif]-->
    <!--[if IE 8]><body class="IE IE8 IE78 IE678"><![endif]-->
    <!--[if IE 7]><body class="IE IE7 IE67 IE78 IE567 IE678"><![endif]-->
    <!--[if IE 6]><body class="IE IE6 IE56 IE67 IE567 IE678"><![endif]-->
    <!--[if IE 5]><body class="IE IE5 IE56 IE567"><![endif]-->

	<div id="container" class="{% block extracontainer %}{% endblock %}">
	{% block container %}
	{% endblock %}
    </div>

    {% if debug %}
    <div id="debug">
      <p>debug
        <a href="http://validator.w3.org/check?uri=referer">X</a>
        <a href="http://jigsaw.w3.org/css-validator/check/referer">C</a>
        <a href="http://validator.w3.org/unicorn/check?ucn_uri=referer">U</a></p>
    </div>
    <br />
    <br />
    {% else %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7441399-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}

    </body>
</html>
