{% extends 'main/header_menu.html' %}
{% load extras %}
{% load static %}



{% block extrahead %}
        <script type="text/javascript" src="{% static "jquery.hotkeys.js" %}"></script>
        <script type="text/javascript" src="{% static "slideScroll.js" %}"></script>
{% endblock %}



{% block title %}{{slidedeck.title}} - {{slidedeck.presenter}} - {{ block.super }}{% endblock %}



{% block extracontainer %}slides{% endblock %}



{% block content %}

<div class="slidedeck">

<div id="slideheaders">
{% comment %}<p class="about"><a href="{% url 'about' %}">about</a></p>{% endcomment %}
<h2><a href="{% url 'index' %}">&laquo;</a> {{ slidedeck.title }}</h2>

{% if slidedeck.pdf %}
{% with slidedeck.getSlides as slides %}
<div class="pdflink"><a href="{{ slidedeck.pdf.url }}"><img src="{{ slides.0.imgThumbUrl }}" alt="first slide" /><br />(pdf)</a></div>
{% endwith %}
{% endif %}

<h3>{{ slidedeck.presenter|safe }}</h3>
<p class="abstract">{{ slidedeck.abstract|safe }}</p>
<div class="clearboth"></div>
</div>


{% if slidedeck.pdf %}

{% with slidedeck.getSlides as slides %}

<div class="lighttable">

<div id="sizeSlider">
<p>Scroll with j/k |
<input type="checkbox" name="showSlideNumbers" value="0" id="check_showSlideNumbers" /><label for="check_showSlideNumbers"><acronym title-"Show slide numbers.">Numbers</acronym></label> |
<input type="checkbox" name="showTextOverlay" value="1" id="check_showTextOverlay"/><label for="check_showTextOverlay"><acronym title="Show the text extracted from each slide overlaid on top of the slide. Useful for searching for keywords.">Overlaid text</acronym></label> |
Size</p>
<div class="slider"></div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    resizeSlides = function(slideWidth) {
        margin = 2 + slideWidth / 60;
        $("div.lighttable div.slide").css("width", slideWidth).css("margin", margin + "px");
    }
    $("#sizeSlider div.slider").each(function() {

      $(this).slider({min: 50, max: 800, value: 300,
                      start: function( event, ui ) {
                        resizeSlides(ui.value);
                      },
                      slide: function( event, ui ) {
                        resizeSlides(ui.value);
                      }});
     });
  });
</script>

{% for slide in slides %}
<div class="slide">
<img src="{{ slide.imgUrl }}" alt="Slide: {{ slide.text }}" />
<div class="text">{{ slide.text|linebreaks }}</div>
<div class="number"><p>{{ forloop.counter }}</p></div>
</div>
{% endfor %}

<div class="clearboth"></div>

</div>

{% endwith %}

{% else %}
<p>No pdf found</p>
{% endif %}


</div>


{% endblock %}
